.header {
  border-bottom: 4px solid #e74c3c;
}

.icon-ids {
  height: 5rem;
  margin-left: 2px;
  margin-right: 4px;
  padding-top: 0.7px;
}

.nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
