.form-card {
  width: 98%;
  margin: 1%;
  border-top: 4px solid #3c8dbc;
}
.button-form {
  width: 100%;
  background-color: #3c8dbc;
  border-color: #367fa9;
  color: white;
}
.example-full-width {
  width: 100%;
}
.card-content {
  padding-top: 10px;
}
