<form [formGroup]="form" class="form-card">
  <mat-card>
    <mat-card-header>
      <mat-icon>enhanced_encryption</mat-icon>
      <h3>Cambiar contraseña</h3>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content class="card-content">
      <div class="row">
        <div class="col-xs">
          <mat-form-field class="example-full-width">
            <input placeholder="Contraseña antigua" formControlName="oldpassword" matInput type="text" />
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xs">
          <mat-form-field class="example-full-width">
            <input placeholder="Nueva contraseña" formControlName="newpassword" matInput type="text" />
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button class="button-form">
        Cambiar
      </button>
    </mat-card-actions>
  </mat-card>
</form>
