.grid-container {
  width: 97%;
  margin-right: 3%;
}

.card-content {
  width: 96%;
  margin: 2%;

  border-top: 4px solid #005cbb;
  padding-top: 14px;
}

.example-full-width {
  width: 100%;
}
.espacio {
  padding-top: 5px;
}
