<div class="component">
    <!-- FILTERS ADMIN-->

    <div class="component__filters">
        <mat-form-field *ngIf="filter === 'byNumber'">
            <mat-label> {{ LABELS.NUMBER }} </mat-label>
            <input matInput type="number" placeholder=" {{ PLACEHOLDER.NUMBER }} " [(ngModel)]="values.firstInput" />
        </mat-form-field>

        <div *ngIf="filter === 'betweenNumbers'">
            <mat-form-field>
                <mat-label> {{ LABELS.FIRTSNUMBER }} </mat-label>
                <input matInput type="number" placeholder=" {{ PLACEHOLDER.FIRTSNUMBER }} " [(ngModel)]="values.firstInput" />
            </mat-form-field>

            <mat-form-field>
                <mat-label> {{ LABELS.LASTNUMBER }} </mat-label>
                <input matInput type="number" placeholder=" {{ PLACEHOLDER.LASTNUMBER }} " [(ngModel)]="values.secondInput" />
            </mat-form-field>
        </div>

        <mat-form-field *ngIf="filter === 'byType'">
            <mat-label> {{ LABELS.TYPECERTIFICATE }} </mat-label>
            <mat-select placeholder=" {{ PLACEHOLDER.TYPECERTIFICATE }} " [(ngModel)]="values.firstInput">
                <mat-option *ngFor="let op of TYPES" [value]="op.value"> {{ op.value | certificateType }} </mat-option>
            </mat-select>
        </mat-form-field>

        <div *ngIf="filter === 'byTypeInstitution'">
            <mat-form-field>
                <mat-label> {{ LABELS.TYPECERTIFICATE }} </mat-label>
                <mat-select placeholder="{{ PLACEHOLDER.TYPECERTIFICATE }} " [(ngModel)]="values.firstInput">
                    <mat-option *ngFor="let op of TYPES" [value]="op.value"> {{ op.value | certificateType }} </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field>
                <mat-label> {{ LABELS.INSTITUTION }} </mat-label>
                <input matInput type="text" placeholder=" {{ LABELS.INSTITUTION }} " [(ngModel)]="values.secondInput" />
            </mat-form-field>
        </div>

        <mat-form-field *ngIf="filter === 'byState'">
            <mat-label> {{ LABELS.STATE }} </mat-label>
            <mat-select placeholder=" {{ PLACEHOLDER.STATE }} " [(ngModel)]="values.firstInput">
                <mat-option *ngFor="let op of STATES" [value]="op.value"> {{ op.value | certificateState }} </mat-option>
            </mat-select>
        </mat-form-field>

        <div *ngIf="filter === 'byStateInstitution'">
            <mat-form-field>
                <mat-label> {{ LABELS.STATE }} </mat-label>
                <mat-select placeholder="{{ PLACEHOLDER.STATE }}" [(ngModel)]="values.firstInput">
                    <mat-option *ngFor="let op of STATES" [value]="op.value"> {{ op.value | certificateState }} </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field>
                <mat-label> {{ LABELS.INSTITUTION }} </mat-label>
                <input matInput type="text" placeholder=" {{ PLACEHOLDER.INSTITUTION }} " [(ngModel)]="values.secondInput" />
            </mat-form-field>
        </div>

        <mat-form-field *ngIf="filter === 'byAttendant'">
            <mat-label> {{ LABELS.ATTENDANT }} </mat-label>
            <input type="text" placeholder=" {{ PLACEHOLDER.ATTENDANT }} " matInput (keypress)="findUserByName($event.target.value)" [formControl]="myControl" [matAutocomplete]="auto" />
            <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" [displayWith]="displayFn">
                <div *ngFor="let user of users">
                    <mat-option [value]="user">
                        {{ user.name }}
                    </mat-option>
                </div>
            </mat-autocomplete>
        </mat-form-field>

        <mat-form-field *ngIf="filter === 'byTownship'">
            <mat-label> {{ LABELS.TWONSHIP }} </mat-label>
            <mat-select placeholder=" PLACEHOLDER.TWONSHIP " [(ngModel)]="values.firstInput">
                <mat-option *ngFor="let op of TOWNSHIPS" [value]="op"> {{ op }} </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field *ngIf="filter === 'byInstitution'">
            <mat-label> {{ LABELS.INSTITUTION }} </mat-label>
            <input matInput type="text" placeholder=" {{ PLACEHOLDER.INSTITUTION }} " [(ngModel)]="values.firstInput" />
        </mat-form-field>

        <!-- FILTERS USERS-->

        <div *ngIf="filter === 'byTypeAttendant'">
            <mat-form-field>
                <mat-label> {{ LABELS.TYPECERTIFICATE }} </mat-label>
                <mat-select placeholder=" {{ PLACEHOLDER.TYPECERTIFICATE }} " [(ngModel)]="values.firstInput">
                    <mat-option *ngFor="let op of TYPES" [value]="op.value"> {{ op.value | certificateType }} </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field>
                <mat-label> {{ LABELS.ATTENDANT }} </mat-label>
                <input type="text" placeholder=" {{ PLACEHOLDER.ATTENDANT }} " matInput (keypress)="findUserByName($event.target.value)" [formControl]="myControl" [matAutocomplete]="auto" />
                <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" [displayWith]="displayFnS">
                    <div *ngFor="let user of users">
                        <mat-option [value]="user">
                            {{ user.name }}
                        </mat-option>
                    </div>
                </mat-autocomplete>
            </mat-form-field>
        </div>

        <div *ngIf="filter === 'byStateAttendant'">
            <mat-form-field>
                <mat-label> {{ LABELS.STATE }} </mat-label>
                <mat-select placeholder="{{ PLACEHOLDER.STATE }}" [(ngModel)]="values.firstInput">
                    <mat-option *ngFor="let op of STATES" [value]="op.value"> {{ op.value | certificateState }} </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field>
                <mat-label> {{ LABELS.ATTENDANT }} </mat-label>
                <input type="text" placeholder=" {{ PLACEHOLDER.ATTENDANT }} " matInput (keypress)="findUserByName($event.target.value)" [formControl]="myControl" [matAutocomplete]="auto" />
                <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" [displayWith]="displayFnS">
                    <div *ngFor="let user of users">
                        <mat-option [value]="user">
                            {{ user.name }}
                        </mat-option>
                    </div>
                </mat-autocomplete>
            </mat-form-field>
        </div>
    </div>

    <button class="component__button" mat-stroked-button color="primary" (click)="sendEvent()">
    <mat-icon class="separation"> {{ ICON.SEARCH }} </mat-icon>
    <span> {{ BUTTON }} </span>
  </button>
</div>