<div class="component">
    <div class="component__filters">

        <mat-form-field *ngIf="filter === 'byTradeNumber'">
            <mat-label>{{ LABELS.TRADENUMBER }}</mat-label>
            <input matInput type=" text " placeholder="{{ PLACEHOLDER.TRADENUMBER }} " [(ngModel)]="values.firstInput " />
        </mat-form-field>

        <mat-form-field *ngIf="filter==='byDate'">
            <mat-label> {{ LABELS.DATE }} </mat-label>
            <input matInput type="date" placeholder=" {{ PLACEHOLDER.DATE }} " [(ngModel)]="values.firstInput " />
        </mat-form-field>


        <div *ngIf="filter==='betweenDates' ">

            <mat-form-field class="full-width ">
                <mat-label> {{ LABELS.FIRSTDATE }} </mat-label>
                <input matInput type="date" placeholder=" {{ PLACEHOLDER.FIRSTDATE }} " [(ngModel)]="values.firstInput " />
            </mat-form-field>


            <mat-form-field class="full-width ">
                <mat-label> {{ LABELS.LASTDATE }} </mat-label>
                <input matInput type="date" placeholder=" {{ PLACEHOLDER.LASTDATE }} " [(ngModel)]="values.secondInput " />
            </mat-form-field>

        </div>


        <mat-form-field *ngIf="filter==='byType' ">
            <mat-label> {{ LABELS.TYPEDELIVERY }} </mat-label>
            <mat-select placeholder=" {{ PLACEHOLDER.TYPEDELIVERY }} " [(ngModel)]="values.firstInput ">
                <mat-option *ngFor="let op of TYPES " [value]="op.value "> {{ op.value | deliveryType }} </mat-option>
            </mat-select>
        </mat-form-field>


        <div *ngIf="filter==='byTypeUser' ">
            <mat-form-field class="full-width ">
                <mat-label> {{ LABELS.TYPEDELIVERY }} </mat-label>
                <mat-select placeholder="{{ PLACEHOLDER.TYPEDELIVERY }} " [(ngModel)]="values.firstInput">
                    <mat-option *ngFor="let op of TYPES " [value]="op.value "> {{ op.value | deliveryType }} </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <mat-form-field *ngIf="filter==='byUser' ">
            <mat-label> {{ LABELS.USER }} </mat-label>
            <input type="text " placeholder=" {{ PLACEHOLDER.USER }} " matInput (keypress)="findUserByName($event.target.value) " [formControl]="myControl " [matAutocomplete]="auto" />
            <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" [displayWith]="displayFn ">
                <div *ngFor="let user of users ">
                    <mat-option [value]="user ">
                        {{ user.name }}
                    </mat-option>
                </div>
            </mat-autocomplete>
        </mat-form-field>

    </div>

    <button class="component__button" mat-stroked-button color="primary" (click)="sendEvent()">
      <mat-icon class="separation"> {{ ICON.SEARCH }} </mat-icon>
      <span> {{ BUTTON }} </span>
   </button>

</div>