<section class="container">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-xs col-md-4">
      <form [formGroup]="form">
        <mat-card class="mat-elevation-z8 conf-card">
          <mat-card-header mat-card-avatar>
            <div mat-card-avatar class="example-header-image"></div>

            <mat-card-title>Login</mat-card-title>
            <mat-card-subtitle>IDS</mat-card-subtitle>
          </mat-card-header>
          <mat-divider class="conf-content-divider"></mat-divider>
          <mat-card-content class="conf-content">
            <div align="center">
              <img class="avatar" src="https://svgsilh.com/svg/1633250.svg" alt="" />
            </div>

            <div class="row">
              <div class="col-xs">
                <mat-form-field class="example-full-width">
                  <mat-icon matSuffix>person</mat-icon>
                  <input placeholder="Usuario" formControlName="user" matInput type="text" />
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-xs">
                <mat-form-field class="example-full-width">
                  <mat-icon matSuffix> vpn_key</mat-icon>
                  <input placeholder="Contraseña" formControlName="password" matInput type="password" />
                </mat-form-field>
              </div>
            </div>
          </mat-card-content>
          <mat-card-actions>
            <button mat-raised-button color="warn" class="example-full-width">
              Iniciar Sesion
            </button>
          </mat-card-actions>
          <mat-card-footer>
            <p align="center">o <a routerLink="/auth/recuperar">¿ Has olvidado tu Contraseña ?</a></p>
          </mat-card-footer>
        </mat-card>
      </form>
    </div>
    <div class="col-md-4"></div>
  </div>
</section>
