<section class="page">
  <mat-card class="mat-elevation-z8 card">
    <mat-card-header class="header">
      <mat-card-title class="header__title">
        <mat-icon class="header__title--icon">{{ ICONS.ENHANCED_ENCRYPTION }}</mat-icon>
        <p class="header__title--text">{{ LABELS.TITLE }}</p>
      </mat-card-title>
    </mat-card-header>

    <mat-divider></mat-divider>

    <form [formGroup]="form" class="form">
      <mat-card-content class="form__content">
        <mat-form-field>
          <input
            placeholder="{{ LABELS.PLACEHOLDER.OLD_PASS }}"
            formControlName="oldPassword"
            matInput
            type="password"
          />
        </mat-form-field>

        <mat-form-field>
          <input
            placeholder="{{ LABELS.PLACEHOLDER.NEW_PASS }}"
            formControlName="newPassword"
            matInput
            type="password"
          />
        </mat-form-field>

        <mat-form-field>
          <input
            placeholder="{{ LABELS.PLACEHOLDER.REPEAT_PASS }}"
            formControlName="repeatPassword"
            matInput
            type="password"
          />
        </mat-form-field>
      </mat-card-content>

      <mat-card-actions class="form__actions">
        <button mat-raised-button (click)="changePassword()" color="warn">
          {{ LABELS.BUTTON_CHANGE }}
        </button>

        <button mat-raised-button (click)="goToDashboard()" color="warn">
          {{ LABELS.BUTTON_GO_BACK }}
        </button>
      </mat-card-actions>
    </form>
  </mat-card>
</section>
