<div class="separation-header">
  <form [formGroup]="form" class="form-card">
    <mat-card>
      <mat-card-header>
        <mat-icon>{{ ICONS.ENHANCED_ENCRYPTION }}</mat-icon>
        <h3>{{ LABELS.TITLE }}</h3>
      </mat-card-header>
      <mat-divider></mat-divider>
      <mat-card-content class="card-content">
        <div class="row">
          <div class="col-xs">
            <mat-form-field class="full-width">
              <input
                placeholder="{{ LABELS.PLACEHOLDER.OLD_PASS }}"
                formControlName="oldpassword"
                matInput
                type="text"
              />
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-xs">
            <mat-form-field class="full-width">
              <input
                placeholder="{{ LABELS.PLACEHOLDER.NEW_PASS }}"
                formControlName="newpassword"
                matInput
                type="text"
              />
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-xs">
            <mat-form-field class="full-width">
              <input
                placeholder="{{ LABELS.PLACEHOLDER.REPEAT_PASS }}"
                formControlName="repeatpassword"
                matInput
                type="text"
              />
            </mat-form-field>
          </div>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button class="button-form">
          {{ LABELS.BUTTON }}
        </button>
      </mat-card-actions>
    </mat-card>
  </form>
</div>
