.page {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100%;
}

.card {
  border-top: 4px solid #e74c3c;
  width: 50rem;
}

.header {
  &__title {
    display: flex;
    width: 45rem;

    &--icon {
      margin-right: 2rem;
    }

    &--text {
      margin: 0;
    }
  }
}

.form {
  &__content {
    display: grid;
    padding-top: 1rem;
  }

  &__actions {
    display: flex;
    justify-content: space-around;
  }
}
