<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-toolbar>
      <div align="center">
        <a mat-list-item routerLink="/{{ ROUTES.PRINCIPAL }}">
          <img src="{{ LINKS.LOGO_IDS }}" alt="Logo IDS" class="logo-ids" />
        </a>
      </div>
    </mat-toolbar>

    <mat-divider></mat-divider>

    <mat-card-content>
      <div align="center" class="card-nav">
        <mat-card-title>
          --Tipo de Usuario--
          <!--TODO-->
        </mat-card-title>
      </div>
    </mat-card-content>

    <mat-nav-list class="nav-list-ids">
      <mat-divider></mat-divider>

      <a mat-list-item routerLink="/{{ ROUTES.PRINCIPAL }}" routerLinkActive="active"
        ><mat-icon>{{ ICONS.DASHBOARD }}</mat-icon>
        <h4 class="separation">{{ LABELS.PRINCIPAL }}</h4>
      </a>

      <mat-divider></mat-divider>

      <a mat-list-item routerLink="/{{ ROUTES.USER }}/{{ ROUTES.LIST }}" routerLinkActive="active"
        ><mat-icon>{{ ICONS.PEOPLE_ALT }}</mat-icon>
        <h4 class="separation">{{ LABELS.USERS }}</h4>
      </a>

      <mat-divider></mat-divider>

      <a mat-list-item routerLink="/{{ ROUTES.CERTIFICATE }}/{{ ROUTES.LIST }}" routerLinkActive="active">
        <mat-icon>{{ ICONS.LIBRARY_BOOKS }}</mat-icon>
        <h4 class="separation">{{ LABELS.CERTIFICATES }}</h4>
      </a>

      <mat-divider></mat-divider>

      <a mat-list-item routerLink="/{{ ROUTES.DELIVERY }}/{{ ROUTES.LIST }}" routerLinkActive="active">
        <mat-icon>{{ ICONS.EVENT }}</mat-icon>
        <h4 class="separation">{{ LABELS.DELIVERIES }}</h4>
      </a>

      <mat-divider></mat-divider>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content class="body">
    <mat-toolbar class="toolbar-ids mat-elevation-z4">
      <mat-toolbar-row>
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()"
          *ngIf="isHandset$ | async"
        >
          <mat-icon aria-label="Side nav toggle icon">
            {{ ICONS.MENU }}
          </mat-icon>
        </button>

        <span class="title">{{ LABELS.TITLE }}</span>

        <span class="spacer"></span>

        <button mat-stroked-button [matMenuTriggerFor]="menu">
          <mat-icon class="icon" aria-hidden="true">
            {{ ICONS.ACCOUNT_CIRCLE }}
          </mat-icon>
          -- Nro. Cédula --
          <!--TODO-->
        </button>

        <mat-menu #menu="matMenu">
          <button mat-menu-item routerLink="/{{ ROUTES.SECURITY }}/{{ ROUTES.CHANGE_PASS }}">
            <mat-icon>{{ ICONS.LOCK }}</mat-icon>
            {{ LABELS.CHANGE_PASS }}
          </button>

          <button mat-menu-item>
            <mat-icon>{{ ICONS.POWER_SETTINGS_NEW }}</mat-icon>
            {{ LABELS.SIGN_OUT }}
          </button>
        </mat-menu>
      </mat-toolbar-row>
    </mat-toolbar>

    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
