.form__card {
  margin: 1%;
  display: grid;
  justify-content: center;
}
.example-full-width {
  width: 100%;
}
.form-card {
  border-top: 4px solid #3c8dbc;
  width: 98%;
  margin: 1%;
}
.button-form {
  width: 100%;
}
.button-form-r {
  width: 38%;
  background-color: #3c8dbc;
  border-color: #367fa9;
  color: white;
  float: right;
  text-align: center;
  font-size: 16px;
}
.separation {
  padding-bottom: 6px;
  margin-right: 5px;
}
.card-content {
  padding-top: 10px;
}
