<form [formGroup]="form" class="form-card mat-elevation-z8">
  <mat-card>
    <mat-card-header class="form__card--header">
      <mat-icon>account_box</mat-icon>
      <h3>Registrar usuario</h3>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content class="card-content">
      <div class="row">
        <div class="col-xs">
          <mat-form-field class="example-full-width">
            <input matInput type="text" placeholder="Cédula" formControlName="identificationCard" />
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-xs">
          <mat-form-field class="example-full-width">
            <input matInput type="text" placeholder="Nombre" formControlName="name" />
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-xs">
          <mat-form-field class="example-full-width">
            <input matInput type="email" placeholder="Correo" formControlName="email" />
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-xs">
          <mat-form-field class="example-full-width">
            <input matInput type="tel" placeholder="Teléfono" formControlName="phone" />
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xs">
          <mat-form-field class="example-full-width">
            <mat-label>Tipo de Usuario</mat-label>
            <!--<input matInput type="text" placeholder="Tipo de Usuario" formControlName="userType" />-->
            <mat-select formControlName="userType" placeholder="Tipo de usuario" value="userType">
              <mat-option *ngFor="let op of types" [value]="op"> {{ op | userType }} </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button *ngIf="isCreate" mat-raised-button class="button-form-r" (click)="create($event)">
        <mat-icon class="separation">save</mat-icon> <span>Registrar</span>
      </button>
      <div class="row">
        <div class="col-xs">
          <button *ngIf="!isCreate" mat-raised-button color="accent" class="button-form" (click)="update($event)">
            Actualizar
          </button>
        </div>
        <div class="col-xs">
          <button *ngIf="!isCreate" mat-raised-button color="warn" class="button-form" (click)="delete($event)">
            Eliminar
          </button>
        </div>
      </div>
    </mat-card-actions>
    <div style="clear: both;"></div>
  </mat-card>
</form>
