<form [formGroup]="form" class="form">
  <mat-card class="form__card">
    <mat-card-header class="form__card--header">
      <mat-card-title>Usuario</mat-card-title>
    </mat-card-header>
    <mat-card-content class="form__card--content">
      <div class="row">
        <div class="col-xs">
          <mat-form-field>
            <input matInput type="text" placeholder="Cédula" formControlName="identificationCard" />
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-xs">
          <mat-form-field>
            <input matInput type="text" placeholder="Nombre" formControlName="name" />
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-xs">
          <mat-form-field>
            <input matInput type="email" placeholder="Correo" formControlName="email" />
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-xs">
          <mat-form-field>
            <input matInput type="tel" placeholder="Teléfono" formControlName="phone" />
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions class="form__card--actions">
      <button *ngIf="isCreate" mat-stroked-button color="primary" (click)="create($event)">Registrar</button>
      <button *ngIf="!isCreate" mat-stroked-button color="accent" (click)="update($event)">Actualizar</button>
      <button *ngIf="!isCreate" mat-stroked-button color="warn" (click)="delete($event)">Eliminar</button>
    </mat-card-actions>
  </mat-card>
</form>
