.form__card {
  display: grid;
  justify-content: center;
  margin: 1%;
}

.full-width {
  width: 100%;
}

.form-card {
  border-top: 4px solid #3c8dbc;
  margin: 1%;
  width: 98%;
}

.button-form {
  width: 100%;
}

.button-form-r {
  background-color: #3c8dbc;
  border-color: #367fa9;
  color: white;
  float: right;
  font-size: 16px;
  text-align: center;
  width: 38%;
}

.separation {
  padding-bottom: 6px;
  margin-right: 5px;
}

.card-content {
  padding-top: 10px;
}
