<mat-card class="certificates-filtro">
  <div class="row">
    <div class="col-xs col-md-9">
      <app-certificates-filter [filter]="filter" (filterEvent)="receiveEvent($event)"></app-certificates-filter>
    </div>
    <div class="col-xs col-md-3">
      <mat-form-field class="full-width">
        <mat-label> {{ SELECT }} </mat-label>
        <mat-select (selectionChange)="updateFilter($event.value)">
          <div *ngFor="let op of FILTERS">
            <mat-option *ngIf="authority === op.authority" [value]="op.value"> {{ op.value }} </mat-option>
          </div>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
</mat-card>

<table mat-table [dataSource]="certificates" class="certificates-table">
  <ng-container matColumnDef="number">
    <th mat-header-cell *matHeaderCellDef>{{ CELLS.NUMBER }}</th>
    <td mat-cell *matCellDef="let certificate">{{ certificate.number }}</td>
  </ng-container>

  <ng-container matColumnDef="type">
    <th mat-header-cell *matHeaderCellDef>{{ CELLS.TYPE }}</th>
    <td mat-cell *matCellDef="let certificate">{{ certificate.type | certificateType }}</td>
  </ng-container>

  <ng-container matColumnDef="state">
    <th mat-header-cell *matHeaderCellDef>{{ CELLS.STATE }}</th>
    <td mat-cell *matCellDef="let certificate">{{ certificate.state | certificateState }}</td>
  </ng-container>
  <ng-container matColumnDef="stateDate">
    <th mat-header-cell *matHeaderCellDef>{{ CELLS.DATE }}</th>
    <td mat-cell *matCellDef="let certificate">{{ certificate.stateDate }}</td>
  </ng-container>

  <ng-container matColumnDef="department">
    <th mat-header-cell *matHeaderCellDef>{{ CELLS.DEPARTMENT }}</th>
    <td mat-cell *matCellDef="let certificate">{{ certificate.department }}</td>
  </ng-container>

  <ng-container matColumnDef="township">
    <th mat-header-cell *matHeaderCellDef>{{ CELLS.TOWNSHIP }}</th>
    <td mat-cell *matCellDef="let certificate">{{ certificate.township }}</td>
  </ng-container>

  <ng-container matColumnDef="institution">
    <th mat-header-cell *matHeaderCellDef>{{ CELLS.INSTITUTION }}</th>
    <td mat-cell *matCellDef="let certificate">{{ certificate.institution }}</td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>
      <div *ngIf="userSesiom">
        <button
          mat-stroked-button
          color="primary"
          matTooltip="{{ TOOLTIP.CREATE }}"
          matTooltipClass="tooltip-red"
          routerLink="../{{ ROUTES.CREATE }}"
        >
          <mat-icon>{{ ICONS.ADD }}</mat-icon>
        </button>
      </div>
    </th>
    <td mat-cell *matCellDef="let certificate">
      <button mat-stroked-button color="accent" routerLink="../{{ ROUTES.UPDATE }}/{{ certificate.number }}">
        <mat-icon>{{ ICONS.CREATE }}</mat-icon>
      </button>
      <button
        *ngIf="certificate.attachment"
        mat-stroked-button
        matTooltip="{{ TOOLTIP.SHOW }}"
        (click)="openDialog(certificate.number)"
      >
        <mat-icon>{{ ICONS.VISIBILITY }}</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="COLUMNS"></tr>
  <tr mat-row *matRowDef="let row; columns: COLUMNS"></tr>
</table>
<!--<mat-paginator [length]="allCertifactes" [pageSize]="20"> hola </mat-paginator>-->

<mat-card class="paginator-card" *ngIf="filter != 'betweenNumbers'">
  <div class="row paginator-ids">
    <div>
      <button mat-button color="primary" (click)="paginator('previous')" *ngIf="page != 0">Anterior</button>
      <button mat-button color="primary" (click)="paginator('next')">Siguiente</button>
    </div>
  </div>
</mat-card>

<div style="clear: both;"></div>
