footer {
  background-color: #e74c3c;
  border-top: 4px solid gray;
  text-align: center;
  width: 100%;
  height: 60px;
  color: black;
  padding: 20px 0;
  position: relative;
  left: 0;
  bottom: 0;
}
#btmFooter {
  align-self: flex-end;
  padding-top: 5px;
}
