<section class="container">
  <div class="row">
    <div class="col-md-4"></div>

    <div class="col-xs col-md-4">
      <form [formGroup]="form">
        <mat-card class="mat-elevation-z8 conf-card">
          <mat-card-header mat-card-avatar>
            <div mat-card-avatar class="header-image"></div>
          </mat-card-header>

          <mat-divider class="conf-content-divider"></mat-divider>

          <mat-card-content class="conf-content">
            <div align="center">
              <p>{{ LABELS.TEXT }}</p>
            </div>

            <div class="row">
              <div class="col-xs">
                <mat-form-field class="full-width">
                  <mat-icon matSuffix>{{ ICONS.PERSON }}</mat-icon>
                  <input placeholder="{{ LABELS.PLACEHOLDER.ID }}" formControlName="user" matInput type="text" />
                </mat-form-field>
              </div>
            </div>
          </mat-card-content>

          <mat-card-actions>
            <button mat-raised-button color="warn" class="full-width">
              {{ LABELS.BUTTON }}
            </button>
          </mat-card-actions>

          <mat-card-footer>
            <p align="center">
              <a routerLink="{{ ROUTES.SECURITY }}">{{ LABELS.LINK }}</a>
            </p>
          </mat-card-footer>
        </mat-card>
      </form>
    </div>
    <div class="col-md-4"></div>
  </div>
</section>
