.grid-container {
  margin-right: 3%;
  width: 97%;
}

.card-content {
  border-top: 4px solid #005cbb;
  margin: 2%;
  padding-top: 14px;
  width: 96%;
}

.full-width {
  width: 100%;
}

.space {
  padding-top: 5px;
}
