.form-card {
  width: 98%;
  margin: 1%;
  border-top: 4px solid #005cbb;
}
.card-content {
  padding-top: 10px;
}
.full-width {
  width: 100%;
}
.button-form {
  width: 38%;
  background-color: #3c8dbc;
  border-color: #367fa9;
  color: white;
  float: right;
  text-align: center;
  font-size: 16px;
}
.separation {
  padding-bottom: 6px;
  margin-right: 5px;
}
[type='file'] {
  height: 0;
  overflow: hidden;
  width: 0;
}

[type='file'] + label {
  background: #3c8dbc;
  border: none;
  border-radius: 5px;
  color: black;
  cursor: pointer;
  display: -webkit-inline-box;
  font-family: 'Poppins', sans-serif;
  font-size: inherit;
  font-weight: 300;
  text-align: center;
  margin-bottom: 1rem;
  outline: none;
  padding: 0.5rem 30px;
  position: relative;
  transition: all 0.3s;
  vertical-align: middle;

  &:hover {
    background-color: darken(#f15d22, 10%);
  }

  &.btn-1 {
    background-color: rgb(214, 213, 213);
    box-shadow: 0 6px darken(#367fa9, 10%);
    transition: none;

    &:hover {
      box-shadow: 0 4px darken(#005cbb, 10%);
      top: 2px;
    }
  }

  &.btn-2 {
    background-color: #99c793;
    border-radius: 50px;
    overflow: hidden;

    &::before {
      color: #fff;
      content: '\f382';
      font-family: 'Font Awesome 5 Pro';
      font-size: 100%;
      height: 100%;
      right: 130%;
      line-height: 3.3;
      position: absolute;
      top: 0px;
      transition: all 0.3s;
    }

    &:hover {
      background-color: darken(#99c793, 30%);

      &::before {
        right: 75%;
      }
    }
  }

  &.btn-3 {
    background-color: #ee6d9e;
    border-radius: 0;
    overflow: hidden;

    span {
      display: inline-block;
      height: 100%;
      transition: all 0.3s;
      width: 100%;
    }

    &::before {
      color: #fff;
      content: '\f382';
      font-family: 'Font Awesome 5 Pro';
      font-size: 130%;
      height: 100%;
      left: 0;
      line-height: 2.6;
      position: absolute;
      top: -180%;
      transition: all 0.3s;
      width: 100%;
    }

    &:hover {
      background-color: darken(#ee6d9e, 30%);

      span {
        transform: translateY(300%);
      }

      &::before {
        top: 0;
      }
    }
  }
}
.span-file {
  padding-left: 10px;
  font-size: 16px;
}
.certificates-table {
  width: 98%;
  margin: 1%;
  border-top: 4px solid #3c8dbc;
}

.button-center {
  padding-top: 10px;
  width: 100%;
}
