<section class="page">
    <div class="mat-elevation-z1 table">
        <mat-card class="page__header">
            <mat-form-field class="page__header--filter">
                <mat-label> {{ SELECT }} </mat-label>
                <mat-select (selectionChange)="updateFilter($event.value)">
                    <div *ngFor="let op of FILTERS">
                        <mat-option *ngIf="authority === op.authority" [value]="op.value"> {{ op.value }} </mat-option>
                    </div>
                </mat-select>
            </mat-form-field>

            <app-deliverys-filter [filter]="filter" (filterEvent)="receiveEvent($event)"></app-deliverys-filter>
        </mat-card>

        <table mat-table [dataSource]="deliverys" class="table--content">
            <ng-container matColumnDef="tradeNumber">
                <th mat-header-cell *matHeaderCellDef>{{ CELLS.NUMBER }}</th>
                <td mat-cell *matCellDef="let delivery">{{ delivery.tradeNumber }}</td>
            </ng-container>

            <ng-container matColumnDef="deliveryType">
                <th mat-header-cell *matHeaderCellDef>{{ CELLS.TYPE }}</th>
                <td mat-cell *matCellDef="let delivery">{{ delivery.deliveryType | deliveryType }}</td>
            </ng-container>

            <ng-container matColumnDef="date">
                <th mat-header-cell *matHeaderCellDef>{{ CELLS.DATE }}</th>
                <td mat-cell *matCellDef="let delivery">{{ delivery.date }}</td>
            </ng-container>

            <ng-container matColumnDef="firstCertificate">
                <th mat-header-cell *matHeaderCellDef>{{ CELLS.INITIAL }}</th>
                <td mat-cell *matCellDef="let delivery">{{ delivery.firstCertificate }}</td>
            </ng-container>

            <ng-container matColumnDef="lastCertificate">
                <th mat-header-cell *matHeaderCellDef>{{ CELLS.FINAL }}</th>
                <td mat-cell *matCellDef="let delivery">{{ delivery.lastCertificate }}</td>
            </ng-container>

            <ng-container matColumnDef="sender">
                <th mat-header-cell *matHeaderCellDef>{{ CELLS.SENDER }}</th>
                <td mat-cell *matCellDef="let delivery">{{ delivery.sender }}</td>
            </ng-container>

            <ng-container matColumnDef="receiver">
                <th mat-header-cell *matHeaderCellDef>{{ CELLS.RECEIVER }}</th>
                <td mat-cell *matCellDef="let delivery">{{ delivery.receiver }}</td>
            </ng-container>

            <ng-container matColumnDef="institution">
                <th mat-header-cell *matHeaderCellDef>{{ CELLS.INSTITUTION }}</th>
                <td mat-cell *matCellDef="let delivery"></td>
            </ng-container>

            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef>
                    <button mat-stroked-button color="primary" matTooltip="{{ TOOLTIP }}" matTooltipClass="tooltip-red" routerLink="../{{ ROUTES.CREATE }}">
            <mat-icon>{{ ICONS.ADD }}</mat-icon>
          </button>
                </th>
                <td mat-cell *matCellDef="let delivery"></td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="COLUMNS"></tr>
            <tr mat-row *matRowDef="let row; columns: COLUMNS"></tr>
        </table>

        <app-paginator [lastPage]="pages" (changePageEvent)="loadDeliveries($event)"></app-paginator>
    </div>
</section>