.center-page {
  align-items: center;
  padding-top: 185px;
  text-align: center;
  padding-bottom: 186px;
}
h1 {
  font-size: 100px;
}
h2 {
  font-size: 20px;
}
.card-content {
  width: 98%;
  margin: 1%;
}
