@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

html,
body {
  background-color: #ececeb;
  font-size: 10px;
  height: 100%;
  overflow-x: hidden;
  position: relative;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
